<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: header"></div>

<h2>New Enrollment</h2>

<form th:action="@{/enrollments}" method="post">

    <label>Student:</label>
    <select name="studentId">
        <option th:each="s : ${students}"
                th:value="${s.idStudent}"
                th:text="${s.studentName}">
        </option>
    </select>

    <label>Course:</label>
    <select name="courseId">
        <option th:each="c : ${courses}"
                th:value="${c.idCourse}"
                th:text="${c.courseName}">
        </option>
    </select>

    <button type="submit">Enroll</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
</html>